<p>
  <strong>Item Name: </Strong>
  <%= menu.name %>
  <strong>Price: </Strong>
  <%= menu.price %>
  <%= button_to "Buy Now", restaurant_path, class: "btn btn-warning" %>
</p>

<% if Current.user.name == "Tester 1" %>
  <p>
    <%= link_to "Delete Item", [menu.restaurant, menu], method: :delete %>
  </p>
<% end %>