<p>
  <strong>Item Name: </Strong>
  <%= menu.name %>
  <strong>Price: </Strong>
  <%= menu.price %>
  <%= button_to "Add to cart", line_items_path(restaurant_id: @restaurant.id, menu_id: menu.id), :method => :post, class: "btn btn-warning" %>
</p>

<% if Current.user.role == "admin" %>
  <p>
    <%= link_to "Delete Item", [menu.restaurant, menu], method: :delete %>
  </p>
<% end %>