<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Food Ordering</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <%= button_to "Sign Up", sign_up_path, :method => :get, class: "btn btn-primary mx-4" %>
  <%= button_to "Sign In", sign_in_path, :method => :get, class: "btn btn-primary mx-4" %>
</div>